<h2>Додати запис</h2>
<br>

<% if @order.errors.any? %>
  <% @order.errors.messages.each do |msg| %>
    <div class="allert alert-danger"><%= msg.last.last.html_safe %></div>
  <% end %>
<% end %>
<br>

<%= form_for :order, url: order_path(@order), method: :patch do |f| %>


  <p>
    Номер<br>
    <%= f.collection_select :room_id, Room.order(:id), :id, :id, {:class => 'form-control'} %>
  </p>

  <p>
    Клієнт<br>
    <%= f.collection_select :client_id, Client.order(:name), :id, :name, {:class => 'form-control'} %>
  </p>

  <p>
    Дата<br>
    <%= f.date_field :date, {:class => 'form-control'} %>
  </p>

  <p>
    Тривалість<br>
    <%= f.text_field :during, {:class => 'form-control'} %>
  </p>

  <p>
    <%= f.submit("Зберегти",{:class => 'btn btn-success '}) %>
  </p>
<%end %>
